body, body *, body *::before, body *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;

    background: transparent;

    font-family: 'Roboto', sans-serif;
  
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a img {
    border: none
}

button, a {
    cursor: pointer;
    color: inherit
}

textarea {
    resize: none
}

button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}


body {
    background-color: #666;
}

.material-icons {
    font-size: 36px;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 99;
}

header button {
    width: 60px;
    height: 60px;
    background-color: #666;
    border-radius: 50%;
    color: #fff 
}

header div {
    color:#666;
}

.container {
    max-width: 1200px;
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.container button {
    width: 160px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 20px;
    border: 1px solid #666;
    border-radius: 50px;
    font-size: 14px;
    color:#666;
    


}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 350px;
    padding: 40px;
    background-color:#fff;

}

.title {
    border-bottom: 1px solid #666;
    font-size: 18px;
    font-weight: 400;
    color:#666;
}

.sub {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 80px;
    font-weight: 400;
    border-radius: 50%;
    margin: 30px;
    background-color: #666;
    color: #fff;
}

.text {
    font-size: 18px;
    font-weight: 700;
    color:#666;
}


/* #666
#fff */