body, body *, body *::before, body *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;

    background: transparent;

    font-family: 'Roboto', sans-serif;
  
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a img {
    border: none
}

button, a {
    cursor: pointer;
    color: inherit
}

textarea {
    resize: none
}

button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

header button {
    width: 60px;
    height: 60px;
    background-color: #666;
    border-radius: 50%;
    color: #fff 
}

header div {
    color:#666;
}

.material-icons {
    font-size: 36px;
}

/* #666
#fff */